.right-form{
    -fx-background-color: linear-gradient(to bottom right, #25bcbf, #3796a7);
        background-color: linear-gradient(to bottom right, #25bcbf, #3796a7);
    -fx-border-color: #000;
        border-color: #000;
    -fx-border-width: .0px .0px .0px 0px;
        border-width: .0px .0px .0px 0px;
}

.left-form{
    -fx-background-color: #fff;
        background-color: #fff;
    -fx-border-color: #000;
        border-color: #000;
    -fx-border-width: .0px 0px .0px .0px;
        border-width: .0px 0px .0px .0px;
}

.signUp-form{
    -fx-background-color: linear-gradient(to bottom right, #cafffb, #75e4db);
        background-color: linear-gradient(to bottom right, #cafffb, #75e4db);
    border-color: #000;
    -fx-border-width: .0px 0px .0px .0px;
        border-width: .0px 0px .0px .0px;
}

.close{
    -fx-background-color: transparent;
        background-color: transparent;
    -fx-cursor:hand;
        cursor:hand;
}
.close:hover{
    -fx-background-color: #ee5363;
        background-color: #ee5363;
}

.textfield{
    -fx-background-color: #efefef;
        background-color: #efefef;
    -fx-font-size: 13px;
        font-size: 13px;
    -fx-font-family: Tahoma;
        font-family: Tahoma;
    -fx-border-color: #ddd;
        border-color: #ddd;
    -fx-border-width: .5px;
        border-width: .5px;
}
.textfield:focused{
    -fx-background-color: #f5f5f5;
        background-color: #f5f5f5;
    -fx-border-width: 1.2px;
        border-width: 1.2px;
}

.login-btn{
    -fx-background-color: #3796a7;
        background-color: #3796a7;
    -fx-font-size: 14px;
        font-size: 14px;
    -fx-cursor:hand;
        cursor:hand;
    -fx-font-family: Arial;
        font-family: Arial;
    -fx-text-fill: #fff;
    -fx-background-radius: 8px;
}

.login-btn:hover{
    -fx-background-color: #25bcbf;
        background-color: #25bcbf;
}

.back{
    -fx-background-color: transparent;
        background-color: transparent;
    -fx-cursor:hand;
        cursor:hand;
}
.back:hover{
    -fx-background-color: #cdc8c8;
        background-color: #cdc8c8;
}

.text-login{
    background-color: linear-gradient(from 24.6445% 43.128% to 29.3839% 61.1374%, #39ddbd 0.0%, #2ec6dd 100.0%)
}

.search{
    -fx-background-color: #efefef;
    background-color: #efefef;
    -fx-border-width: 1.2px;
    border-width: 1.2px;
    /* -fx-border-radius: 6px;
    border-radius: 6px; */
    /* -fx-border-color: #3796a7;
    border-color: #3796a7; */
    -fx-font-size: 13px;
    font-size: 13px;
    -fx-padding: 0px 0px 0px 28px;
    padding: 0px 0px 0px 28px;
}
.search:focused{
    -fx-background-color: #fff;
    background-color: #fff;
}